<main>
  <article>
    <h1>Lista de participantes 2024</h1>
    <table>
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Maria Edmunda</td>
          <td>Lopez Quiñones</td>
          <td>mariedmund{{arroba}}</td>
          <td>Activo</td>
        </tr> 
        <tr>
          <td>Byron Efrain</td>
          <td>Cheque Sain</td>
          <td>befrain{{arroba}}</td>
          <td>Activo</td>
        </tr> 
        <tr>  
          <td>Paulina Estefania</td>
          <td>Jimenez Mayorga</td>
          <td>pejimayorga{{arroba}}</td>
          <td>Inactivo</td>
        </tr>
        <tr>
          <td>Abraham Frederich</td>
          <td>Ichaj Mateo</td>
          <td>afredicha{{arroba}}</td>
          <td>Activo</td>
        </tr>
      </tbody>
    </table>
  </article>
</main>
